<mat-card class="new-sensor-card" dir="rtl">
  <mat-card-title>חיישן חדש</mat-card-title>
  <form
    class="new-sensor-form"
    (submit)="addSensor()"
    [formGroup]="createNewSensor"
  >
    <mat-form-field class="full-width">
      <input
        matInput
        [(ngModel)]="newSensor.DeviceType"
        name="DeviceType"
        placeholder="סוג החיישן באנגלית"
        formControlName="DeviceType"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [(ngModel)]="newSensor.DeviceTypeHebrew"
        name="DeviceTypeHebrew"
        placeholder="סוג החיישן בעברית"
        formControlName="DeviceTypeHebrew"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [(ngModel)]="newSensor.DeviceId"
        name="DeviceId"
        formControlName="DeviceId"
        placeholder="מספר מזהה חיישן"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [matDatepicker]="InstallDate"
        [(ngModel)]="newSensor.InstallDate"
        name="InstallDate"
        formControlName="InstallDate"
        placeholder="תאריך צימוד"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="InstallDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #InstallDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select
        formControlName="ComponentOk"
        placeholder="סטאטוס"
        [(ngModel)]="newSensor.ComponentOk"
      >
        <mat-option value="1">תקין</mat-option>
        <mat-option value="0">לא תקין</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        [(ngModel)]="newSensor.WebSiteDeviceName"
        name="WebSiteDeviceName"
        formControlName="WebSiteDeviceName"
        placeholder="שם המכשיר ברשת"
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <ngx-mat-file-input
        placeholder="בחר תמונה"
        accept=".png, .jpg, .jpeg"
        formControlName="Picture"
      >
      </ngx-mat-file-input>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [matDatepicker]="LastReportDate"
        [(ngModel)]="newSensor.LastReportDate"
        name="LastReportDate"
        formControlName="LastReportDate"
        placeholder="תאריך דיווח אחרון"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="LastReportDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #LastReportDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [(ngModel)]="newSensor.ManufacturerName"
        name="ManufacturerName"
        formControlName="ManufacturerName"
        placeholder="שם החברה באנגלית"
        required
      />
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">
        הוסף חיישן
      </button>
      <button mat-raised-button color="warn" (click)="onCancelClick()">
        ביטול
      </button>
    </div>
  </form>
</mat-card>
