<div class="sensors-home container">
    <div class="sensors-home-header container">
      <span>{{sensors.length}} התקנים רשומים</span>
      <span> (</span>
      <span>{{getSensorComponentOk(1)}} תקינים</span>
      <span> {{getSensorComponentOk(0)}} בתקלה</span>
      <span>)</span>
    </div>
    <mat-grid-list [cols]="columns" (window:resize)="onResize()"  >
      <mat-grid-tile *ngFor="let sensor of sensors" >
          <app-sensor-item [sensor]="sensor" class="sensor-item"></app-sensor-item>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-holder container">
      <button type="button" class="btn btn-primary" (click)="openNewSensorModal()">חדש</button>
    </div>
</div>
